name: Check Dependencies

on:
  pull_request:
    types: [opened]
jobs:
  dependency_check:
    runs-on: ubuntu-latest
    name: Check dependencies and add a comment in the PR with the result
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v2
      - name: Check Dependencies
        uses: raulpadilladelgado/check-dependencies-in-pr-action@1.0.0
        with:
          pull_request_url: ${{ github.event.pull_request.comments_url }}
          github_token: ${{ secrets.GITHUB_TOKEN }}